@font-face
    font-family 'latolight'
    font-display auto
    src url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-light-webfont.eot')
    src url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-light-webfont.woff2') format('woff2'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-light-webfont.woff') format('woff'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-light-webfont.ttf') format('truetype'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-light-webfont.svg#latolight') format('svg')
        // https://cdn.jsdelivr.net/font-lato/2.0/LatoLatin/LatoLatin-Regular.css
    font-weight normal
    font-style normal

@font-face
    font-family 'latoregular'
    font-display auto
    src url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-regular-webfont.eot')
    src url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-regular-webfont.woff') format('woff'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-regular-webfont.ttf') format('truetype'),
        url('https://desarrolloactivo.ams3.cdn.digitaloceanspaces.com/fonts/lato/lato-regular-webfont.svg#latoregular') format('svg')
    font-weight normal
    font-style normal

// @font-face
//     font-family 'latosemibold'
//     src url('/fonts/lato/lato-semibold-webfont.eot')
//     src url('/fonts/lato/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
//         url('/fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
//         url('/fonts/lato/lato-semibold-webfont.woff') format('woff'),
//         url('/fonts/lato/lato-semibold-webfont.ttf') format('truetype'),
//         url('/fonts/lato/lato-semibold-webfont.svg#latosemibold') format('svg')
//     font-weight normal
//     font-style normal

body, html
    font-family 'latoregular', sans-serif
    //font-family 'Roboto Mono', sans-serif
    //font-family Myriad Set Pro, Lucida Grande, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif
    //font-family georgia, serif
    font-weight 400
    // line-height 1.4
    font-size 14px
    margin 0 auto
    top 0
    // background-color #ededed
    background-color var(--menu-highlight-color)
    -webkit-font-smoothing antialiased
    overflow hidden
    // overflow-y hidden

@media screen and (min-width 1680px)
    body, html
      font-size 16px
